<!-- public/partials/topbar.html -->
<div class="topbar">
  <div class="topbarLeft">
    <div class="topbarLogo">M</div>

    <nav class="topbarMenu">
      <a href="eblast.html" data-nav="eblast">Eblast</a>
      <a href="campaign.html" data-nav="campaign">Campaigns</a>
      <a href="dashboard.html" data-nav="dashboard">Dashboard</a>
    </nav>
  </div>

  <div class="topbarRight">
    <span class="mini" id="miniSession">Session: checking...</span>
    <span class="mini" id="miniGmail" style="display: none"
      >Gmail: checking...</span
    >
    <button class="btn danger" id="btnLogout" type="button">Logout</button>
  </div>
</div>
